/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* General */
html{
    scroll-behavior: smooth;
}

body{
    font: 100%/1.4 Poppins, sans-serif;
    background-color: black;
}